/*
	classes.css
	Cool classes that shouldn't be in the core
*/


/* 
	Mark Boulton's incremental leading for sidenotes
	It's a bit shaky at this time, because Safari rounded pixels badly
	http://www.markboulton.co.uk/journal/comments/incremental_leading

*/

.sidenote {
	font-size: 10px;
	line-height: 1.44em;  
	margin-bottom: 1.5em;
}

/* Nice looking text */
.classic { 
	font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
	font-weight: normal;
}

.spot {
  margin-bottom:1.25em;
}

.spot h3 {
  margin-top:0;
}

.spot img {
float:left;
padding:2px 12px 4px 0;
}

.sponsor img {
border:1px solid #E0DFDA;
float:none;
padding:0;
margin-bottom:10px;
}

.grid-item {
display:block;
float:left;
font-size:80%;
height:115px;
margin-right:10px;
text-align:center;
width:86px;
}

.pagination {
color:#999999;
float:right;
font-size:11px;
margin-right:10px;
clear:both;
}

.entry img {
float:left;
margin:0 16px 8px 0;
}

.actions img {
background:transparent none repeat scroll 0 0;
border:medium none;
float:none;
margin:0 2px -4px 0;
text-decoration:none;
}

.actions a {
font-family:"Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
font-size:11px;
padding:0;
}