/*
    Eureka CSS Framework
  http://github.com/marze/eureka
*/

.grid { background: url('../images/grid.png'); }

body { background: #EEEDEA url('../images/bg.png') top repeat-x; }

h1, h2, h3, h4, h5, h6 { color: #282A2B; font-weight:bold; }

h2 a, h3 a, h4 a { text-decoration: none; }
h2 a:hover, h3 a:hover, h4 a:hover { text-decoration: underline; }

h5 {
  text-transform: uppercase;
  font-family: Verdana;
  letter-spacing: 2px;
  font-weight: bold;
  padding-top: 1.65em;
}

#sponsors h5 { padding-top: 0em; }

h5 span {
  text-transform: lowercase;
  letter-spacing: 0px;
  font-weight: normal;
  font-style: italic;
}

p.details {
  font-style: italic;
  color: #888;
  font-size: 0.916667em;
  line-height: 1.636364em;
  margin-top: -0.25em;
  text-indent: 0em;
}

span.details {
  font-style: italic;
  color: #888;
  font-size: 0.916667em;
}

a { color: #CB3522; }
a:hover { color: #2A5454; }
a:visited { color: #9B2016; }

p.details { text-indent: 1em; }

table {
  width:100%;
  margin: 0 0 1.5em 0;
}

table img { display: inline-block; vertical-align: middle; margin-right: 3px; }

td { padding: 5px 0 5px 5px; border-bottom: 1px solid #DDD; }

.odd td, .even td  { border-left: 1px solid #DDD; }
.odd, .even { background-color: #FFF; }

.highlight { background-color: #FFF8CB; }

.title td {
  text-align: center;
  font-weight: bold;
  font-size: 1.15em;
  padding: 1em 0 0.5em 0;
}

.index th {
  color: #FFF;
  padding-left: 5px; 
  font-variant: small-caps;
  background-color: #A3342B;
  border-left: 1px solid #9B2016;
  border-bottom: 1px solid #9B2016;
}

.bienvenida td, .coffeebreak td, .comida td {
  padding: 0 0 0 5px;
  color: #FFF;  
  background-color: #476B6A;
  border-left: 1px solid #2A5454;
  border-bottom: 1px solid #2A5454;
}

.flash{
  padding: .8em; margin-bottom: 1em;
  text-align: center; margin: 0 auto; margin-bottom: 1em;
}
.errorExplanation ul  { margin-bottom: 0; padding: 0;}
.errorExplanation, #error     { background: #E7BEBB; color: #9B2016; }
#notice  { background: #CEDDC4; color: #213026; }

.canvas { background: url('../images/logo.png') 0 0 no-repeat; }

#header {
  color: #000;
  margin-bottom: 3em;
  position:relative;
  height:54px;
}

.buttons {
  position:absolute;
  right:0;
}

.menu {
  float:left;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.menu li {
  display: inline;
  font-size: 1.333333em;
  line-height: 1.125em;
  margin-right: 0.5em;
}

.menu a               { padding: 6px 0px 4px 10px; text-decoration: none; color: #FFF; }
.menu a span          { padding: 6px 10px 4px 0px; }
.menu a:hover         { background: url('../images/button.png') bottom left; color: #FFF; }
.menu a:hover span    { background: url('../images/button.png') bottom right; }
.menu .current a      { background: url('../images/button.png') top left; color: #111; }
.menu .current a span { background: url('../images/button.png') top right; }

.menu .locale a               { color: #d9f09a; }
.menu .locale a:hover         { background: url('../images/button_locale.png') bottom left; color: #FFF; }
.menu .locale a:hover span    { background: url('../images/button_locale.png') bottom right; }

#twitter li {
  list-style-type: none;
  margin-bottom: 1em;
}

#twitter ul {
  margin: 0;
  padding: 0;
}

.item { margin-bottom: 2em; }
.item a img { float: left; width: auto; margin: 6px 6px 0 0; }

.avatar {
  border: 1px solid #333333; 
}

.author-avatar { float: left; margin: 0 1em 0.25em 0; }

.pager { 
  margin: 1.5em 0 0 0;
  font-size: 1.083333em;
  line-height: 1.384615em;
}

.pager a {
  color: #333;
  font-weight: bold;
  font-style: italic;
}

.pager a:hover { color: #2A5454; }

.pager .previous { float: left; }
.pager .next     { float: right; }

.left {
  float: left;
  padding: 0px 4px 0px 0px;
  margin: 0px 2px 0px 0px;
}

.right {
  margin: 0px 2px 10px 20px;
  padding-left: 5px;
  overflow: hidden;
}

.right h4 {
  line-height: 20px;
}

#comments h3 {
  padding-bottom: 0.5em;
}

.comment {
  border-top: 1px solid #CCC;
  margin-bottom: 1.5em;
  padding: 1em 1.5em 0.5em 1.5em;
  background: #E4E1D7;
}

.comment h6 {
  margin-top: 0;
}

.authors {
  margin-top: -0.75em;
  font-size: 0.916667em;
  line-height: 1.636364em;
  margin-bottom: 1.25em;
}

.date { 
  font-style: italic;
  font-weight: normal;
  font-size: 0.916667em;
  line-height: 1.636364em;
}

.rate { float: right; }

#asistentes {
  margin-bottom: 2em;
}
 
#comentarios {
  margin-top: -0.5em;
}

#register {
  background-color: #E5E2D7;
  margin-bottom: 3em;
  padding: 0 1.5em 1.5em 1.5em;
  border: 1px dashed #CCC;
  text-align: center;
}

#register img {
  margin: 0;
  padding: 0;
}

#register p {
  margin-bottom: 0;
}

#register ol {
  margin: 0;
  padding: 0;
}

#register li {
  list-style-type: none;
  margin: 0 0 0.5em 0;
  padding: 0;
}
#register label {
  display: inline-block;
  width: 6em;
  padding-right: 0.25em;
  text-align: right;
  font-weight: bold;
}

#register input {
  border: 1px solid #B7B5AC;
  font-size: 1em;
  padding: 0.25em;
  width: 50%;
}

#register input[type='image'] {
  border: none;
  width: auto;
}

#register img {
  margin: 0;
  padding: 0;
}

#register ol {
  margin: 0;
  padding: 0;
}

#register li {
  list-style-type: none;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#credits {
  border-left: 1px solid #E0DFDA;
  padding-left: 2em;
  text-align: center;
}

#credits h5 { text-align: left; }

#credits img {
  float: none;
  margin-bottom: 0em;
}

#footer {
  margin: 1.5em 0 1.5em 0;
  padding-top: 3em;
  text-align: center;
}

div.description_event {
  background: #fcc;
  margin: 4px 2px;
  padding: 6px 4px;
}

div.payment div.entry ul li {
  margin-top: 10px;
}

span.paid {
  font-weight: bold;
}
span.pending_confirmation{
  font-weight: bold;
  color: #f33;
}

div#carts p.actions {
  margin-left: 18px;
}

div#carts p.actions a {
  background-color: #faa;
  padding: 2px;
}

div#carts div.box {
  border-bottom: 2px solid #ccc;
  margin-left: 18px;
  margin-bottom: 15px;
  padding: 4px;
}

/*************** profile ********************/

div.profile dl {
  line-height: 20px;
}

div.profile dt {
  float: left;
}

div.profile dd {
  overflow: hidden;
  height: 1%;
  padding-left: 5px;
}

div.profile ul {
  list-style-type: none; 
}

div.profile span.organizer {
  font-weight: bold;
  color: #aaa;
}

div.profile div.right {
  min-height: 100px;
}


/*************** users ********************/
div.bar {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

div.bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.bar ul li {
  display: inline;
  font-weight: bold;
  font-size: 1em;
  margin: 0px 5px;
  padding: 4px;
}

div.users {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 2px;
}

/************** pagination ****************/

.pagination {
  clear: both;
  border-top: 1px solid #F5F5F5;
  margin: 1.5em auto 0em auto;
  padding: 1em;
  text-align: center;
}

.pagination a {
  color: #333;
  margin: 2px;
  padding: 3px 4px;
  text-decoration: none;
}

.pagination a:hover,
.pagination a:active {
  background: #000;
  color: #FFF;
}

.pagination span.current {
  background-color: #B60000;
  color: #FFF;
  font-weight: bold;
  margin: 2px;
  padding: 2px 3px;
}

.pagination span.disabled {
  color: #DDD;
  margin: 2px;
  padding: 2px 3px;
}

/******************* papers  ****************/

div.paper {
  margin: 5px 0px 30px 0px;
  padding: 0;
}

div.paper div.right {
  min-height: 100px;
}

div#attendees_list {
  width: 350px;
}
div#attendees_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#attendees_list ul li {
  display: inline;
  font-weight: bold;
  font-size: 1em;
  margin: 0px 2px;
  padding: 1px;
}

div#comments_list {
  margin-top: 0px;
}


ul#votes {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#votes li {
  display: inline;
  margin: 0px 2px;
  padding: 1px;
}
