/*
	typography.css
	Defaults for the typography
*/


/* The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body {
  font-size: 75%;
  color: #333; 
  background: #FFF;
  font-family: Helvetica, "Calibri", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #000; }
h1 { font-size: 1.8555em; line-height: 1.25em; margin-bottom: 0.5em; }
h2 { font-size: 1.5em; line-height: 1.5em; margin-bottom: 0.5em; font-weight: bold; }
h3 { font-size: 1.2em; line-height: 2; margin-top: 0.5em; margin-bottom: 0em; }
h4 { font-size: 1.2em; line-height: 2.5; margin-bottom: 0.1em; }
h5 { font-size: 1em; margin: 0 0 1.5em 0;}
h6 { font-size: 1em; margin-top: 1.5em; margin-bottom: 0.5em; font-weight: bold; }

p { margin: 0 0 0.75em 0; }

/* Indentation instead of line shifts for sibling paragraphs, not supported on IE */
/* p + p { text-indent: 2em; margin-top: -1.5em; } */

/*p img { float: left; margin: 1.5em 1.5em 1.5em 0; border: 1px solid #CCC; padding: 0; }*/

/* Set a fancy-type for the blockquote */
blockquote { 
	font-style: italic;
	font-weight: normal;
	margin: 1.5em;
}

/* Definitions */
dfn { 
	font-weight: bold;
	font-style: italic;
}

dl { margin: 0 0 1.5em 0; }
dd { margin-left: 1.5em;}
dl dt { font-weight: bold; }

/* Acronyms are not real links so we dotted them */
abbr, acronym { border-bottom: 1px dotted #666; cursor: help; }

/* I let you use BR tags with address */
address {
	margin: 1.5em;
	font-style: italic;
}

/* Preformated, code and teletype */
pre {
	white-space: pre;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

pre code {
	display: block;
	padding: 1.5em;
	line-height: 1.5em;
}

code {
	padding: 0.15em;
	font-size: 1.25em;
	color: #333;
	background: #FFF;
}

code, tt { font-family: "Consolas", "Lucida Console", Courier, monospace; }

tt { color: #000; }

/* Capitalize acronyms */
acronym, .caps {
	font-variant: small-caps; 
	text-transform: lowercase; 
	font-size:1.2em;
	line-height:1%;
	padding:0 2px;
}

/* Verses */
.verse, .verse pre {
	font-family: inherit;
	display: table;
	width: auto;
	margin: 0 auto;
}

/* Lists */
ul, ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }

/* This could be never ending */
ol ul, ul ol, ul ul, ol ol { margin-bottom: 0em; }

/* Decoration */
strong { font-weight: bold; }
em { font-style: italic; }
del { color:#F00; text-decoration: line-through; }

sup, sub { font-size:75%; }
sub { vertical-align: text-bottom; }
sup { vertical-align:text-top; }

/* Links */
a { color: #00F; text-decoration: underline; }
a:focus, a:hover { color: #000; }

/* Images */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }
