test:
  site_domain: 127.0.0.1:3000
  site_name: Site_test
  email_sender: Site <info@site.org>
  email_notification_recipients: [one@gmail.com, two@gmail.com]
  paypal_url: https://www.sandbox.paypal.com/cgi-bin/webscr
  paypal_seller: seller_wadus_biz@gmail.com
  paypal_cert_id: Z954BH8ATL6XC
  paypal_secret: paypal_secret
  yahoo_id: qvONq5jV34GLKDBadNyEtXoS9dR22TK1gacPRBXZqqXrAfwCYUd6fMMIze9zIbWe9a7juSXIGlfH
  twitter_user: pepe
  twitter_pass: pepe
  twitter_notification_step: 1
  tax_percent: 16
  seller_invoice_info: "Name Company \nAddress Company with éxtraños carácteres \nG65037772"
  invoices_pdf_path: /tmp/invoices
  invoices_serial_prefix: site-2009-
  smtp_server: smtp.site.com
  smtp_domain: site.com
  smtp_user: smtpuser
  smtp_pass: smtppass
  accepted_locales: [es, en]
  
development:
  site_domain: 127.0.0.1:3000
  site_name: Site_development
  email_sender: Site <info@site.org>
  email_notification_recipients: [one@gmail.com, two@gmail.com]
  paypal_url: https://www.sandbox.paypal.com/cgi-bin/webscr
  paypal_seller: seller_wadus_biz@gmail.com
  paypal_cert_id: Z954BH8ATL6XC
  paypal_secret: paypal_secret
  yahoo_id: qvONq5jV34GLKDBadNyEtXoS9dR22TK1gacPRBXZqqXrAfwCYUd6fMMIze9zIbWe9a7juSXIGlfH
  twitter_user: pepe
  twitter_pass: pepe
  twitter_notification_step: 1
  tax_percent: 16
  seller_invoice_info: "Name Company \nAddress Company with éxtraños carácteres \nG65037772"
  invoices_pdf_path: /tmp/invoices
  invoices_serial_prefix: site-2009-
  smtp_server: smtp.site.com
  smtp_domain: site.com
  smtp_user: smtpuser
  smtp_pass: smtppass
  accepted_locales: [es, en]
    
production:
  site_domain: 127.0.0.1:3000
  site_name: site.com
  email_sender: Site <info@site.org>
  email_notification_recipients: [one@gmail.com, two@gmail.com]
  paypal_url: https://www.sandbox.paypal.com/cgi-bin/webscr
  paypal_seller: seller_wadus_biz@gmail.com
  paypal_cert_id: Z954BH8ATL6XC
  paypal_secret: paypal_secret
  yahoo_id: qvONq5jV34GLKDBadNyEtXoS9dR22TK1gacPRBXZqqXrAfwCYUd6fMMIze9zIbWe9a7juSXIGlfH
  twitter_user: pepe
  twitter_pass: pepe
  twitter_notification_step: 1
  tax_percent: 16
  seller_invoice_info: "Name Company \nAddress Company with éxtraños carácteres \nG65037772"
  invoices_pdf_path: /tmp/invoices
  invoices_serial_prefix: site-2009-
  smtp_server: smtp.site.com
  smtp_domain: site.com
  smtp_user: smtpuser
  smtp_pass: smtppass
  accepted_locales: [es, en]