<% if cart.pending_paypayment_confirmation? %>
<p class="actions" id="cart_<%= cart.id %>"><%= link_to_remote(t('views.carts.index.confirm_payment'), :url => cart_path(cart, :status => Cart::STATUS[:COMPLETED]), :method => :put)%></p>
<% end -%>
