<h3><%= t('views.papers.show.rate') %></h3>

<% if logged_in? %>
  <p><%= render :partial => 'papers/votes', :locals => { :paper => @paper } %></p>
<% end %>

<% if @paper.votes.count > 0 %>
  <p><%= t('views.papers.show.people_valoration', :valoration => valoration_labels[@paper.rate-1]) %></p>
<% else %>
  <p><%= t('views.papers.show.no_valorations')%></p>
<% end %>